# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[od]
*.cfc
biftestfile-tmp.bif
mkdepend
*.pfc
*.pfic
*.pyc
*.pyo
scratch.txt
umakepf-cvs
android-rel
android-deb
release
ribosome_logs
*.out
build.reg
build.out.bkp
*.upp
md5_sign.txt
*.orig
*.obj
*ribodefs.h
*.dep
timestamp
*.mak
_localpatch
*.rej
ChangeLogs.html
.buildrc
CVS/
*.swp
*.bak
*.dep-flist
*-mkdep.o
common/include/platform.h
debug/
release/
android-rel/
android-dbg/
rel/
dbg/

/nightly/Umakefil
/common/include/platform.h
/include/platform.h
ios-rel/
ios-dbg/
DerivedData/
.DS_Store

*.class
*.apk
*.ap_
*.dex
local.properties
.classpath
.project
.metadata
.settings
bin/
gen/
classes/

